p, ul, ol{
margin-bottom: 0 !important;
}

.callout {
    background-color: #ececec !important;
    border-radius: 3px !important;
    padding: 1rem !important;
}

.callout div {
    padding: 10px !important;
    line-height: 1.5 !important
}

blockquote {
    margin: 0;
    padding: 15px;
    border-left: solid 5px #666;
    color: #666;
    font-style: italic;
}

pre code{
    padding: 20px !important;
}

span.icon{
    margin-right: 10px;
}

/* Notion Font Color Setting */
.highlight-gray{
    color: gray
}
.block-color-gray{
    color: gray
}
.highlight-brown{
    color: brown
}
.block-color-brown{
    color: brown
}
.highlight-orange{
    color:orange 
}
.block-color-orange{
    color:orange 
}
.highlight-yellow{
    color:yellow 
}
.block-color-yellow{
    color:yellow 
}
.highlight-green{
    color:green 
}
.block-color-green{
    color: green
}
.highlight-blue{
    color:blue 
}
.block-color-blue{
    color: blue
}
.highlight-purple{
    color:purple 
}
.block-color-purple{
    color: purple
}
.highlight-pink{
    color: pink
}
.block-color-pink{
    color:pink
}
.highlight-red{
    color:red 
}
.block-color-red{
    color: red
}
.highlight-gray_background{
    color: gray
}
.block-color-gray_background{
    color:gray 
}
.highlight-brown_background{
    color: brown;
}
.block-color-brown_background{
    color: brown
}
.highlight-orange_background{
    color: orange;
}
.block-color-orange_background{
    color: orange
}
.highlight-yellow_background{
    color: yellow
}
.block-color-yellow_background{
    color: yellow
}
.highlight-green_background{
    color: green
}
.block-color-green_background{
    color: green
}
.highlight-blue_background{
    color: blue
}
.block-color-blue_background{
    color: blue
}
.highlight-purple_background{
    color: purple
}
.block-color-purple_background{
    color: purple
}
.highlight-pink_background{
    color: pink
}
.block-color-pink_background{
    color: pink
}
.highlight-red_background{
    color: red
}
.block-color-red_background{
    color: red
}
