<!DOCTYPE html>
<html>
<title>Tistory API 활용하기</title>

<head>

    <link href={{ url_for('static', filename="css/style.css" ) }} rel="stylesheet">
    <script src={{ url_for('static', filename="js/jquery-3.6.0.min.js" ) }} type="text/javascript"></script>
    <script src={{ url_for('static', filename="js/script.js" ) }} type="text/javascript"
        crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col">
                <h3><strong>{{selected_blog_title}}</strong>에 새 글을 포스팅합니다.</h3>
            </div>
        </div>
        {% if selected_blog_title == None %}
        <div class="row pb-5">
            <div class="col">

                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">블로그 카테고리 목록을 가져오지 못했습니다.</h4>
                    <hr>
                    <p class="mb-0">
                        <code><a href="http://localhost:5000">http://localhost:5000</a></code>에 접속해서 블로그 접근 권한 인증을 다시
                        진행해주세요.
                    </p>
                </div>

            </div>
        </div>
        {% else %}
        <div class="row pb-5">
            <div class="col">
                <form class="col d-grid gap-3" method="POST" action="write-post" enctype="multipart/form-data">
                    <div class="row">
                        <label for="file-post" class="form-label">글 내용을 HTML 파일로 업로드해주세요.</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="file-post" name="file-post" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group">

                            <span class="input-group-text" id="label-post-title">글 제목</span>
                            <input type="text" class="form-control" placeholder="글 제목을 입력해주세요"
                                aria-label="글 제목을 입력해주세요." id="input-post-title" name="input-post-title" required>

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group">

                            <span class="input-group-text" id="label-post-category">카테고리</span>
                            <select class="form-select" id="select-post-category" name="select-post-category" required>
                                <option selected disabled value="">글을 올릴 카테고리를 선택해주세요.</option>
                                {% if list_blog_categories != None %}
                                {% for blog_category in list_blog_categories %}
                                <option id="blog_name_{{blog_name}}">{{blog_category}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>

                            <span class="input-group-text" id="label-post-slogan">슬로건</span>
                            <input type="text" class="form-control" placeholder="슬로건 주소를 입력해주세요."
                                aria-label="슬로건 주소를 입력해주세요." aria-describedby="슬로건 주소를 입력해주세요." id="input-post-slogan"
                                name="input-post-slogan">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group">

                            <span class="input-group-text" id="label-post-tag">태그</span>
                            <input type="text" class="form-control" placeholder="태그를 콤마로 구분해 입력해주세요."
                                aria-label="태그를 콤마로 구분해 입력해주세요." id="input-post-tag" name="input-post-tag">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="check-post-comment"
                                    name="check-post-comment" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">이 곳을 체크하면 댓글 달기를
                                    허용합니다.</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline check-post-open">
                                <input class="form-check-input" type="radio" name="check-post-open" id="check-post-open"
                                    value="open" required>
                                <label class="form-check-label" for="check-post-open">공개</label>
                            </div>
                            <div class="form-check form-check-inline check-post-open">
                                <input class="form-check-input" type="radio" name="check-post-open"
                                    id="check-post-close" value="close" required>
                                <label class="form-check-label" for="check-post-close">비공개</label>
                            </div>
                            <div class="form-check form-check-inline check-post-open">
                                <input id="check-post-lock" class="form-check-input" type="radio" name="check-post-open"
                                    value="lock" required>
                                <label class="form-check-label" for="check-post-lock">비밀번호 입력시 공개</label>
                            </div>
                        </div>
                    </div>
                    <div id="row-password" class="row d-none">
                        <div class="input-group">

                            <span class="input-group-text" id="label-post-tag">비밀번호</span>
                            <input id="input-post-pwd" class="form-control" type="text"
                                placeholder="글 공개를 제한할 비밀번호를 입력해주세요." aria-label="글 공개를 제한할 비밀번호를 입력해주세요."
                                id="input-post-pwd" name="input-post-pwd">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">글 쓰기 실행</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col">
                {% if result_write_post != None %}
                {% if result_write_post != "fail" %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">새 글이 업로드되었습니다.</h4>
                    <hr>
                    업로드 된 글은 <a href={{url_post}}>이 곳</a>에서 확인해주세요.
                </div>
                {% elif result_write_post == "fail" %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">새 글 업로드를 실패했습니다.</h4>
                    <hr>
                    글 내용을 HTML 파일로 업로드했는지 확인해주세요.
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>

    </div>

</body>

</html>